*, *::before, *::after {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
}
